@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #272728;
}

/* Firefox */
html {
  scrollbar-color: #030303;
  scrollbar-width: none;
}

/* WebKit and Chromiums */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #030303;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #030303;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1a1a1a;
}

